name: ci

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: mise run all
